<header>
    <aside id="left">
        <span>{{company_name}}</span>
    </aside>
    <aside id="right">
        <p>Telefone: {{phone}}</p>
        <p>{{state}} - {{city}} <br>
            {{address}}</p>
    </aside>
</header>